.login-box {
    font-family: 'Fraunces', sans-serif;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.3);
    width: 40rem;
    height: 27rem;
}

.login-field {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 5px;
}

.login-btn {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    width: 60%;
    transition: 0.5s;
}

.login-btn:hover {
    background-color: black;
    transition: 0.5s;
}

.navbar-color {
    background-color: red;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(180, 0, 0));
    opacity: 0.8;
}

.text-white {
    color: white;
}

.link {
    font-family: 'Fraunces', sans-serif;
    color: whitesmoke;
    transition: 0.5s;
}

.link:hover {
    font-size: 1.3rem !important;
    font-weight: 700;
    transition: 0.5s;
}

.car-box {
    font-family: 'Fraunces', sans-serif;
    border-radius: 20px;
    border: 1px solid grey;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    width: 18rem;
}

.car-box img {
    border: 1px solid grey;
    border-radius: 20px !important;
    margin-bottom: 1rem;
}

.search-adv {
    border: 1px solid gray;
    background-color: whitesmoke;
    padding: 10px 5px;
}

.btn-adv {
    background-color: red;
    color: white;
    padding: 15px 25px;
    transition: 0.3s;
}

.btn-adv:hover {
    background-color: rgb(200, 0, 0);
    transition: 0.3s;
}

.search-field {
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 5px;
}

.search-btn {
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    transition: 0.3s;
}

.search-btn:hover {
    background-color: rgb(200, 0, 0);
    transition: 0.3s;
}

.info-btn {
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(200, 0, 0));
    width: 3rem;
    height: 3rem;
}

.edit-btn {
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(200, 0, 0));
    width: 2rem;
    height: 2rem;
}

.block-btn {
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(200, 0, 0));
    width: 6rem;
    height: 3rem;
}

.add-user {
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    width: 3.5rem;
    height: 3rem;
}

.add-user:hover {
    background-color: rgb(200, 0, 0);
    transition: 0.3s;
}

.register-box {
    font-family: 'Fraunces', sans-serif;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.3);
    width: 40rem;
    height: 29rem;
}

.log-box {
    font-family: 'Fraunces', sans-serif;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.3);
    width: 40rem;
    padding-bottom: 1rem;
}

.note-box {
    font-family: 'Fraunces', sans-serif;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #212529;
    box-shadow: 10px 10px 5px rgba(121, 120, 120, 0.3);
    width: 30rem;
    height: 34rem;
    padding: 2rem;
}

.note-field {
    border: none;
    background-color: #F5F5F5;
    padding: 10px 5px;
}

textarea {
    border: none;
    background-color: #F5F5F5;
    padding: 10px 5px;
}


@media screen and (min-width: 200px) and (max-width: 573px) {
    .login-box {
        width: 20rem;
        height: 25rem;
    }

    .note-box {
        width: 20rem;
    }

    .search-field {
        width: 90%;
    }

    textarea {
        width: 100%;
    }

}

@media screen and (min-width: 574px) and (max-width: 2000px) {
    .login-field {
        width: 70%;
    }

    .note-field {
        width: 70%;
    }

    .login-btn {
        width: 70%;
    }

}