<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
        rel="stylesheet">
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #c2c2c2;
        text-align: left;
        padding: 8px;
    }

    tr {
        background-color: #ffffff;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .letter-field {
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px 5px;
        width: 60%;
    }

    .area-box {
        font-family: 'Fraunces', sans-serif;
        border: 1px solid gray;
        border-radius: 20px;
        background-color: whitesmoke;
        box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.3);
        width: 20rem;
        padding: 1rem 2rem 2rem 4rem;
    }

    .auto-box {
        font-family: 'Fraunces', sans-serif;
        border: 1px solid gray;
        border-radius: 20px;
        background-color: whitesmoke;
        box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.3);
        width: 42rem;
        padding-bottom: 2rem;
    }
</style>

<body>
    {% extends 'base.html' %}

    {% block content %}

    <div class="container-fluid" style="margin-top: 7rem;">
        <div class="container">
            <div class="text-center">
                <h1>Auto Profile</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="d-flex justify-content-center">
                        <div class="auto-box mt-5 mb-3">
                            <div class="row">
                                <div class="col-6" style="border-right: 1px solid gray;">
                                    <div class="ps-lg-5 ms-1 mt-3"><b>ID: </b>{{auto.auto_id}}</div>
                                    <div class="ps-lg-5 ms-1 mt-3"><b>Brand: </b>{{auto.brand}}</div>
                                    <div class="ps-lg-5 ms-1 mt-3"><b>Model: </b>{{auto.model}}</div>
                                    <div class="ps-lg-5 ms-1 mt-3"><b>Color: </b>{{auto.color}}</div>
                                    <div class="ps-lg-5 ms-1 mt-3"><b>Type: </b>{{auto.type}}</div>
                                    <div class="ps-lg-5 ms-1 mt-3"><b>Condition: </b>
                                        {% if session.is_admin %}
                                        <form action="{{url_for('update_status')}}" method="post">
                                            <input type="hidden" name="auto-id-status" value="{{ auto.auto_id }}">
                                            <select name="status" id="status" required>
                                                <option value="">{{auto.status}}</option>
                                                {% for row in status %}
                                                <option value="{{row.status_id}}">{{row.status}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                            <div class="ms-1 edit-btn text-center d-flex justify-content-start"><button
                                                    type="submit" class="edit-btn"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#ffffff" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path
                                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd"
                                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                    </svg></button></div>
                                        </form>
                                        {% else %}
                                        {{auto.status}}
                                        {% endif %}
                                    </div>
                                    <div class="ps-lg-5 ms-1 mt-3"><b>VIN: </b><span
                                            style="font-size: 14px;">{{auto.vin}}</span></div>
                                    <div class="ps-lg-5 mt-3 d-flex justify-content-start"><b>License Plate:
                                        </b>{{auto.license_plate}}
                                    </div>
                                    {% if session.is_admin %}
                                    <div id="plate-field" class="mt-2 text-center">
                                        <form action="{{url_for('update_plate')}}" method="post">
                                            <input type="hidden" name="auto-id-plate" value="{{ auto.auto_id }}">
                                            <input type="text" name="edit-plate" style="width: 6rem;"
                                                placeholder="New Plate" required>
                                            <button type="submit" style="background-color: red;"
                                                class="fw-bold text-white">Submit</button>
                                        </form>
                                    </div>
                                    <div class="text-center" style="color: red;">{{ error }}</div>
                                    {% endif %}

                                </div>
                                <div class="col-6">
                                    <div class="ms-1 mt-3"><b>User: </b>{{auto.name}} {{auto.surname}}</div>
                                    <div class="ms-1 mt-3"><b>Supplier: </b>{{auto.supplier}}</div>
                                    <div class="ms-1 mt-3"><b>Doors: </b>{{auto.doors}}</div>
                                    <div class="ms-1 mt-3"><b>Entry Date: </b>{{auto.entry_date}}</div>
                                    <div class="ms-1 mt-3"><b>Last Edit Date: </b>{{auto.edit_date}}</div>
                                    <div class="ms-1 mt-3"><b>Exit Date: </b>
                                        {% if not auto.exit_date == none %}
                                        {{auto.exit_date}}
                                        {% if session.is_admin == 1 %}
                                        <div><a href="{{url_for('delete_auto', id=auto.auto_id,)}}"
                                                style="background-color: red; border: 2px solid black; text-decoration: none;"
                                                class="fw-bold text-white mt-1 px-2" type="submit">Delete Auto</a></div>
                                        <div><a href="{{url_for('cancel_exit', id=auto.auto_id,)}}"
                                                style="background-color: red; border: 2px solid black; text-decoration: none;"
                                                class="fw-bold text-white mt-2 px-2" type="submit">Cancel Exit</a></div>
                                        {% endif %}
                                        {% else %}
                                        <form action="{{url_for('exit_auto')}}" method="post">
                                            <input type="hidden" name="auto-id-exit" value="{{ auto.auto_id }}">
                                            <input type="hidden" name="user-id-exit" value="{{ auto.user_id }}">
                                            <button style="background-color: red;" class="fw-bold text-white"
                                                type="submit">Set Exit Date</button>
                                            {% endif %}
                                        </form>
                                    </div>
                                    <div class="mt-3"><b>Parking Area: </b>{{auto.letter}}{{auto.number}}</div>
                                    <div class="mt-3 me-3">
                                        <div class="mb-3 text-center">
                                            <a href="{{ url_for('view_qr', auto_id=auto_id) }}"
                                                download="{{ auto.vin }}.png" class="text-decoration-none text-white"
                                                style="background-color: black !important; border-radius: 10px; padding-left: 1rem; padding-right: 1rem;">Scarica
                                                QR
                                                Code</a>
                                        </div>
                                        <img src="{{ url_for('view_qr', auto_id=auto_id) }}" alt="QR Code"
                                            class="img-fluid">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="d-flex justify-content-center">
                        <div class="area-box mt-5 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mt-3 fw-bold">Parking Area Settings:</div>
                                    <div class="mt-3 d-flex justify-content-start">
                                        <b>Edit Area: </b>
                                        <form action="{{url_for('update_parking')}}" method="post">
                                            <input type="hidden" name="id" value="{{ auto.auto_id }}">
                                            <input type="hidden" name="license_plate" value="{{ auto.license_plate }}">
                                            <input type="hidden" name="old_area" value="{{ auto.area_id }}">
                                            <select class="ms-1" name="new_area" required>
                                                <option value="">{{auto.letter}}{{auto.number}}</option>
                                                {% for area in parking %}
                                                {% if area.auto_id is none %}
                                                <option value="{{area.area_id}}">{{area.letter}}{{area.number}}
                                                    {% endif %}
                                                </option>
                                                {% endfor %}
                                            </select>

                                    </div>
                                    <div class="mt-3 ms-3"><button type="submit"
                                            class="block-btn text-white fw-bold">Edit Area</button>

                                    </div>
                                    </form>
                                    {% if session.is_admin %}
                                    <div class="mt-3"><b>Create New Area:</b></div>
                                    <form action="{{url_for('insert_area') }}" method="post">
                                        <div class="mt-3 d-flex justify-content-start">
                                            <input type="hidden" name="id_auto" value="{{ auto.auto_id }}">
                                            <div><input type="text" id="letter" name="letter" class="letter-field mt-1"
                                                    placeholder="Letter/s" required>
                                                <label class="fw-bold">Slots:</label>
                                                <select name="slot_number" id="slot_number" required>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mt-3 ms-3"><button type="submit"
                                                class="block-btn text-white fw-bold">Create</button>

                                        </div>
                                    </form>
                                    <form action="{{url_for('delete_area')}}" method="post">
                                        <div class="mt-3 d-flex justify-content-start">
                                            <input type="hidden" name="id_delete" value="{{ auto.auto_id }}">
                                            <label class="fw-bold">Delete Area: </label>
                                            <select class="ms-1" name="delete" id="delete" required>
                                                <option value="">Area</option>
                                                {% for area in parking %}
                                                {% if area.auto_id is none %}
                                                <option value="{{area.area_id}}">{{area.letter}}{{area.number}}
                                                    {% endif %}
                                                </option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                        <div class="mt-3 ms-3"><button type="submit"
                                                class="block-btn text-white fw-bold">Delete</button>

                                        </div>
                                    </form>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>